version: "3"

services:

  mongo:
    image: mongo
    restart: always
    volumes:
      - mongo-data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      target: production
    restart: always
    environment:
      - MONGO_URL=${MONGO_URL}
    volumes:
      - ./backend:/app
    depends_on:
      - mongo
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/tasks"]
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    build: ./frontend
    restart: always
    volumes:
      - ./frontend:/usr/share/nginx/html
    depends_on:
      - backend

  mongo-express:
    image: mongo-express
    restart: always
    depends_on:
      - mongo

  nginx:
    build: ./nginx
    restart: always
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - backend
      - frontend
      - mongo-express

volumes:
  mongo-data:
